.container-child-1 {
    background: blueviolet;
    width: 200px;
    height: 200px;
    color: fff;
}

.container-child-2 {
    background: red;
    height: 100px;
    width: 100px;
    color: azure;
}

.container-child-3 {
    background: green;
    width: 400px;
    height: 400px;
    color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}
